Repository cse110-sp24-group6/cse110-sp24-group6, pull requests merged in 2024-06, with the labels that each got.

#51 Daily log buttons
  .github/workflows/linter.yml
  admin/meetings/042724-retrospective.md
  admin/meetings/052524-retrospective-sprint1.md
  source/assets/scripts/dailylog.js
  source/assets/styles/dailylog.css
  source/dailylog.html
Labels: enhancement, html, css, javascript, daily log

#62 Completed ADR for Homepage to-do list removal
  specs/adrs/060224-homepage-todolist-remove.md
Labels: homepage

#61 Daily Log CSS
  source/assets/scripts/dailylog.js
  source/assets/scripts/homepagescript.js
  source/assets/styles/dailylog.css
  source/dailylog.html
  source/homepage.html
  specs/adrs/060124-log_calendar.md
Labels: css, daily log

#60 Integrate daily log data into homepage card Issue #58
  source/assets/scripts/homepagescript.js
  source/homepage.html
Labels: enhancement, javascript, daily log, homepage

#63 34 navigation bar
  source/assets/styles/dailylog.css
  source/assets/styles/todolist.css
  source/assets/styles/updated_homepage_CSS.css
  source/dailylog.html
  source/homepage.html
  source/todolist.html
Labels: to-do list, css, daily log, homepage

#72 Created Edit Button for Tasks and Progress Bar for Homepage
  source/assets/scripts/todolist.js
  source/assets/styles/todolist.css
  source/homepage.html
  source/todolist.html
Labels: to-do list, javascript

#66 implementing localStorage on to-do list page
  source/assets/scripts/todolist.js
  source/todolist.html
Labels: to-do list, javascript

#73 Homepage add and delete buttons
  source/assets/HTML_homepage_pics/daily_log_nav.svg
  source/assets/icons/homepage/project_card_delete/delete_icon.png
  source/assets/scripts/ProjectCard.js
  source/assets/styles/updated_homepage_CSS.css
  source/homepage.html
Labels: css, javascript, homepage

#78 style change
  .github/workflows/linter.yml
  source/assets/icons/fish.png
  source/assets/icons/otter.png
  source/assets/styles/todolist.css
  source/todolist.html
Labels: help wanted, to-do list, html, css

#81 Update team.md
  admin/team.md
Labels: documentation

#84 Jsdoc
  .github/workflows/generate-docs.yml
  README.md
Labels: documentation

#85 E2E Tests Navigation Bar and Projects CRUD
  __tests__/navigationCRUDprojects.test.js
  package-lock.json
  package.json
Labels: documentation, homepage, testing

#88 E2E Tests for Daily Log page- CRUD and LocalStorage
  __tests__/dailyLogCRUD.test.js
  package-lock.json
  package.json
Labels: daily log, testing

#89 E2E Tests for Daily Log to Daily Streak
  __tests__/E2EhompageProgress.e2e.js
  __tests__/dailyLogCRUD.e2e.js
  __tests__/logstreak.e2e.js
  __tests__/navigationCRUDprojects.e2e.js
  code-to-unit-test/logstreak-test.js
  package-lock.json
  source/assets/scripts/homepagescript.js
Labels: daily log, homepage, testing

#94 Unit test homepage
  __tests__/homepage-unit.test.js
  code-to-unit-test/unit-tests-homepage.js
  package-lock.json
Labels: testing

#95 Todolist navbar
  source/assets/styles/dailylog.css
  source/assets/styles/todolist.css
  source/assets/styles/updated_homepage_CSS.css
Labels: to-do list, css

#96 Todolist comments
  source/assets/scripts/todolist.js
  source/assets/styles/todolist.css
  source/todolist.html
Labels: to-do list, html, css, javascript

#100 Update README.md
  README.md
Labels: documentation

#97 Daily Log Documentation
  source/assets/scripts/dailylog.js
  source/assets/styles/dailylog.css
  source/dailylog.html
Labels: html, css, javascript

#103 Progress bar fix
  source/assets/scripts/homepagescript.js
  source/assets/scripts/todolist.js
  source/assets/styles/updated_homepage_CSS.css
  source/homepage.html
Labels: bug, to-do list, css, javascript, homepage

#99 Homepage file documentation
  source/assets/scripts/ProjectCard.js
  source/assets/styles/updated_homepage_CSS.css
  source/homepage.html
Labels: documentation, html, css, javascript, homepage

#105 Edited instructions for project cards for ease
  source/homepage.html
Labels: projects

#102 Service workers
  source/dailylog.html
  source/homepage.html
  source/sw.js
  source/todolist.html
Labels: enhancement, to-do list, html, javascript, daily log, homepage

#107 Added a resetBackground function that styles all date div's
  source/assets/scripts/dailylog.js
Labels: bug, javascript, daily log

#108 fixed delete bug
  source/assets/scripts/homepagescript.js
Labels: bug
