Repository cse110-sp24-group6/cse110-sp24-group6, pull requests merged in 2024-05, with the labels that each got.

#22 Html site
  CSS_Files/homepage_CSS.css
  dailylog.html
  homepage.html
  projects.html
  todolist.html
Labels: documentation, to-do list, html, css, daily log, projects, homepage

#29 HTML MVP
  CSS_Files/homepage_CSS.css
  CSS_Files/updated_homepage_CSS.css
  HTML_homepage_pics/checked_in.png
  HTML_homepage_pics/daily_log_fire.png
  HTML_homepage_pics/daily_log_journal_black.png
  HTML_homepage_pics/daily_log_journal_brown.png
  HTML_homepage_pics/daily_log_journal_darkblue.png
  HTML_homepage_pics/daily_log_journal_white.png
  HTML_homepage_pics/databaes_logo.png
  HTML_homepage_pics/external_link_brown.png
  HTML_homepage_pics/external_link_darkblue.png
  HTML_homepage_pics/external_link_white.png
  HTML_homepage_pics/github_icon_brown.png
  HTML_homepage_pics/github_icon_darkblue.png
  HTML_homepage_pics/github_icon_white.png
  HTML_homepage_pics/homepage_nav.png
  HTML_homepage_pics/projects_folder.png
  HTML_homepage_pics/to-do_list_nav.png
  HTML_homepage_pics/unchecked.png
  Homepage JS/homepagescript.js
  source/dailylog.html
  source/homepage.html
  source/projects.html
Labels: html, css, javascript, homepage

#31 To do list
  .github/workflows/code-quality.yml
  source/assets/icons/celebration.png
  source/assets/icons/fish.png
  source/assets/icons/otter.png
  source/assets/scripts/todolist.js
  source/assets/styles/todolist.css
  source/todolist.html
Labels: to-do list, html, css

#30 Daily log mvp
  source/assets/icons/daily-log.png
  source/assets/icons/home-icon.png
  source/assets/icons/projects-icon.png
  source/assets/icons/todo-icon.png
  source/assets/scripts/dailylog.js
  source/assets/styles/dailylog.css
  source/dailylog.html
Labels: enhancement, html, css, javascript, daily log

#54 33 calendar date selection
  .github/workflows/linter.yml
  source/assets/scripts/dailylog.js
Labels: enhancement, css, javascript, daily log

#47 Update todolist.html
  admin/meetings/041224-kickoff.md
  admin/meetings/042324-warmup.md
  admin/meetings/042524-warmup.md
  admin/meetings/042724-retrospective.md
  admin/meetings/042724-sprint-warmup-review.md
  admin/meetings/050124-brainstorming.md
  admin/meetings/050224-brainstorming.md
  admin/meetings/050524-pitch.md
  admin/meetings/051024-leads-task-delegation.md.md
  admin/meetings/051124-meeting.md
  admin/meetings/051824-mvp.md
  admin/meetings/052524-retrospective-sprint1.md
  admin/meetings/052524-sprint1.md
  admin/meetings/team-leads-week4.md
  admin/meetings/team-leads-week5.md
  admin/meetings/team-leads-week6.md
  admin/meetings/team-leads-week7.md
  admin/meetings/team-leads-week8.md
  source/assets/styles/todolist.css
  source/todolist.html
Labels: to-do list, html, css, javascript

#55 Creating projectcard elements
  .github/workflows/linter.yml
  source/assets/HTML_homepage_pics/github_icon_brown.png
  source/assets/HTML_homepage_pics/github_icon_darkblue.png
  source/assets/HTML_homepage_pics/github_icon_white.png
  source/assets/icons/homepage/completed_project/brown.svg
  source/assets/icons/homepage/completed_project/cream.svg
  source/assets/icons/homepage/completed_project/green.svg
  source/assets/icons/homepage/current_project/brown.svg
  source/assets/icons/homepage/current_project/cream.svg
  source/assets/icons/homepage/current_project/green.svg
  source/assets/icons/homepage/daily_log/daily_log_brown.png
  source/assets/icons/homepage/daily_log/daily_log_cream.png
  source/assets/icons/homepage/daily_log/daily_log_green.png
  source/assets/icons/homepage/daily_log/daily_log_white.png
  source/assets/icons/homepage/edit/edit_icon_brown.svg
  source/assets/icons/homepage/edit/edit_icon_cream.svg
  source/assets/icons/homepage/edit/edit_icon_green.svg
  source/assets/icons/homepage/github/github_icon_brown.svg
  source/assets/icons/homepage/github/github_icon_cream.svg
  source/assets/icons/homepage/github/github_icon_green.svg
  source/assets/scripts/ProjectCard.js
  source/assets/scripts/homepagescript.js
  source/assets/styles/updated_homepage_CSS.css
  source/homepage.html
Labels: html, css, javascript, projects, homepage
